<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @restaurant.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @restaurant.address %>
</p>

<p>
  <strong>phone_number:</strong>
  <%= @restaurant.phone_number %>
</p>

<strong>category:</strong>
  <%= @restaurant.category %>
</p>


<%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
<%= link_to 'Back', restaurants_path %>

<h4>Reviews</h4>
<ul class="list-group">
  <% @restaurant.reviews.each do |review| %>
    <li class="list-group-item"><%= review.content %> <%= link_to 'Supprimer', review_path(review), method: :delete %> </li>
  <% end %>
</ul>

<%= link_to "Add a review", new_restaurant_review_path(@restaurant) %>
